@import "../../theme/Theme.scss";

.button {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    border: none;
    border-radius: $border-radius;
    background-color: $primary-main;
    color: $on-primary;
    transition: $animation-1;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);

    &:disabled {
        cursor: auto;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.12);
        border: none;
    }

    &:hover:enabled {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    .left-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
    }

    .children-margin {
        margin-left: 8px;
    }

    &.icon {
        display: none;
        background-color: transparent;
        vertical-align: middle;
        align-items: center;
        height: 34px;
        width: 34px;
        border: 1px solid rgb(218, 226, 237);
        color: rgb(0, 127, 255);
        text-align: center;
        padding: 8px;
        overflow: visible;
        box-sizing: border-box;
        border-radius: 12px;
        box-shadow: rgb(243, 246, 249) 0px 1px 2px inset, rgba(229, 234, 242, 0.6) 0px 1px 0.5px;

        &:hover:enabled {
            border-color: rgb(199, 208, 221);
            background: rgb(243, 246, 249);
        }

        svg {
            height: 16px;
            width: 16px;
        }
    }

}


@media screen and (max-width: 1200px) {
    .icon {
        display: flex;
    }
}