@import "src/theme/Theme.scss";

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 14px;
        width: 14px;
        background-color: #fff;
        border: 2px solid rgba($grey-900,0.7);
        border-radius: $border-radius;
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        height: 42px;
        width: 42px;
        border-radius: 50%;
        background-color: $primary-main;
        opacity: 0;

        &:hover {
            opacity: 5%;
        }
    }

    input:checked ~ .checkmark {
        background-color: $primary-main;
        border-color: transparent;
        height: 14px;
        width: 14px;
        left: 0;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>');
    }
}
