@import "src/theme/Theme.scss";

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #fff;
        border: 2px solid $grey-400;
        border-radius: $border-radius;
    }

    .circle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: gray;
        opacity: 0;

        &:hover {
            opacity: 0.1;
        }
    }

    input:checked ~ .checkmark {
        background-color: $primary-main;
        border: none;
        height: 24px;
        width: 24px;
        left: 0;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>');
    }
}
