@import "/src/theme/Theme.scss";

.base-input {
    display: flex;
    outline: none;
    width: 256px;
    padding: 9px 17px;
    align-items: flex-start;
    background-color: $primary;
    color: $on-primary;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid $on-primary;

    &::placeholder {
        color: $surface-container-low;
    }
}

