@import "../../theme/Theme.scss";

.table {
    display: table;
    border-collapse: collapse;
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.12);

    tr {
        border-bottom: 1px solid $grey-400;

        th {
            &:first-child {
                text-align: left;
            }
            
            font-weight: 500;
            padding: 16px;
            vertical-align: middle;
            text-align: right;
        }
        td {
            &:first-child {
                text-align: left;
            }

            padding: 16px;
            vertical-align: middle;
            text-align: right;
        }
    }
}