@import "/src/theme/Theme.scss";

input[type="file"] {
    padding: 0;
    border: none;
    z-index: 10;
    
    :hover {
        display: none;
    }

    &:focus {
        display: none;
    }
}

.base-input {
    display: flex;
    padding: $spacing-l $spacing-m;
    color: $text-primary;
    font-size: 16px;
    line-height: 23px;
    border-radius: $border-radius;
    border: 1px solid rgba($grey-900, 0.3);

    &::placeholder {
        color: $text-secondary;
    }

    &:hover {
        border-color: $grey-900;
    }

    &:focus {
        box-shadow: inset 0 0 0 1px rgba($primary-main, 1);
        
    }

    &.error {
        border: 1px solid rgba($error-main, 1);

        &:focus {            
            box-shadow: inset 0 0 0 1px rgba($error-main, 1);
            outline: none;
        }
    }
}