@import "/src/theme/Theme.scss";

.base-input {
    display: flex;
    padding: $spacing-l $spacing-m;
    color: $text-primary;
    font-size: 16px;
    line-height: 23px;
    border-radius: $border-radius;
    border: 1px solid rgba($grey-900, 0.3);
    outline: none;
    transition: $animation-1;

    &::placeholder {
        color: $text-secondary;
    }

    &:hover {
        border-color: $grey-900;
    }

    &:focus {
        border: 1px solid $primary-main;
    }

    &.error {
        border: 1px solid rgba(red, 1);

       
    }
}

