@import "/src/theme/Theme.scss";

.base-input {
    display: flex;
    padding: $spacing-l $spacing-m;
    color: $text-primary;
    font-size: 14px;
    line-height: 20px;
    border-radius: $border-radius;
    border: 1px solid $text-secondary;
    outline: none;
    transition: $animation-1;

    &::placeholder {
        color: $text-secondary;
    }

    &:hover {
        border-color: $grey-900;
    }

    &:focus {
        border-color: $primary-main;
    }
}