@import "/src/theme/Theme.scss";

strong {
    font-weight: 700;
}

.base-text {
    color: $text-primary;
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    padding: 0;

    &.title-l {
        font-size: 22px;
        line-height: 28px;
    }

    &.body-m {
        font-size: 14px;
        line-height: 20px;
    }

    &.body-s {
        font-size: 12px;
        line-height: 16px;
    }

}