@import "/src/theme/Theme.scss";


.base-text {
    color: $text-primary;
    font-family: Roboto;
    margin: 0;
    padding: 0;

    &.title-l {
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
    }

    &.body-m {
        font-size: 16px;
        line-height: 20px;
    }

    &.body-s {
        font-size: 14px;
        line-height: 20px;
    }

    strong {
        font-weight: 600;
    }
}