/*
 * Theme settings
 */

// Primary pallete

$primary-light: #42a5f5;
$primary-main: #1976d2;
$primary-dark: #1565c0;
$on-primary: #fff;

$error-main: #d32f2f;
$error-light: #ef5350;
$error-dark: #c62828;
$on-error: #fff;

$paper: #fff;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #e0e0e0;
$grey-900: #212121;

$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.6);
$text-disabled: rgba(0, 0, 0, 0.38);

$divider: rgba(0, 0, 0, 0.12);
$border-radius: 4px;

$colors: (
  primary-light: #42a5f5,
  primary-main: #1976d2,
  primary-dark: #1565c0,
  on-primary: #fff,
  error-main: #d32f2f,
  error-light: #ef5350,
  error-dark: #c62828,
  on-error: #fff,
  paper: #fff,
  grey-50: #fafafa,
  grey-100: #f5f5f5,
  grey-200: #eeeeee,
  grey-300: #e0e0e0,
  grey-400: #e0e0e0,
  grey-900: #212121,
  text-primary: rgba(0, 0, 0, 0.87),
  text-secondary: rgba(0, 0, 0, 0.6),
  text-disabled: rgba(0, 0, 0, 0.38),
  divider: rgba(0, 0, 0, 0.12)
);

// Spacings

$spacing-xs: 2px;
$spacing-s: 4px;
$spacing-m: 8px;
$spacing-l: 16px;
$spacing-xl: 32px;

$spacing-values: (
  xs: 2px,
  s: 4px,
  m: 8px,
  l: 16px,
  xl: 32px
);

// Sizes

$size-s: 16px;
$size-m: 24px;
$size-l: 32px;

$size-values: (
  s: 24px,
  m: 32px,
  l: 48px
);
