@import "../../theme/Theme.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $paper;
    border-bottom: 1px solid $grey-400;
    padding: 16px;
    overflow: auto;

    .flex-left {
        display: flex;
        gap: $spacing-m;
        align-items: center;
    }

    .flex-right {
        display: flex;
        gap: $spacing-l;
    }

    .button-header-hidden {
        display: none;
    }

    .icon-header-hidden {
        display: none;
    }

    @media screen and (min-width: 680px) {
        .flex-left {
            display: flex;
            gap: $spacing-m;
            align-items: center;
        }

        .flex-right {
            display: flex;
            gap: $spacing-l;
        }

        .button-header-hidden {
            display: flex;
        }

        .icon-header-hidden {
            display: flex;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: end;
        
        .button-icon.hidden {
            display: none;
        }
    
        .flex-right {
            display: flex;
            gap: $spacing-l;
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
}