@import "../../theme/Theme.scss";

.side-menu {
    display: flex;
    flex-direction: column;
    padding-top: $spacing-s;
    padding-bottom: 40px;
    border-right: 1px solid $grey-400;
    width: 300px;
    min-width: 300px;
    background-color: $paper;
    overflow: auto;

    .list-items {
        position: relative;
        list-style: none;

        li {
            display: block;
            padding: 0px 8px;

            a {
                display: flex;
                position: relative;
                padding: 6px;
                color: black;
                text-decoration: none;
                font-weight: 600;
                transition: $animation-2;
                border-left: 1px solid $grey-400;
            

                &:hover {
                    background-color: $grey-100;
                    border-radius: $border-radius;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    cursor: pointer;

                    .text-hover {
                        transition: $animation-2;
                        color: $text-primary;
                    }
                }

                &:focus {
                    background-color: rgba($primary-light, .1);
                    border-radius: $border-radius;
                    border-left: 1px solid $primary-light;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;

                    .text-hover {
                        transition: $animation-2;
                        color: $primary-main;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .side-menu {
        display: none;
    }

    .side-menu.visible {
        display: flex;
    }

    .side-menu-icon {
        display: flex;
        padding-top: $spacing-s;
        padding-bottom: 40px;
        border-right: 1px solid $grey-400;
        width: 30px;
        height: 100%;
    }
}


