@import "../../theme/Theme.scss";

.side-menu {
    display: flex;
    flex-direction: column;
    padding-top: $spacing-s;
    padding-bottom: 40px;
    border-right: 1px solid $grey-400;
    width: 300px;
    overflow: auto;

    .list-items {
        position: relative;
        list-style: none;

        li {
            display: block;
            padding: 8px 10px 0px 10px;

            a {
                display: flex;
                position: relative;
                padding: 6px;
                color: black;
                text-decoration: none;
                font-weight: 600;
                transition: $animation-2;

                &:hover {
                    background-color: $grey-100;
                    border-radius: $border-radius;
                    cursor: pointer;
                }

                &:focus {
                    background-color: $primary-light;
                }

                &:active {
                    background-color: $primary-light;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .side-menu {
        display: none;
    }

    .side-menu.visible {
        display: flex;
    }

    .side-menu-icon {
        display: flex;
        padding-top: $spacing-s;
        padding-bottom: 40px;
        border-right: 1px solid $grey-400;
        width: 30px;
        height: 100%;
    }
}
