@import "./theme/Theme.scss";

* {
    padding: 0;
    margin: 0;
}

body, #root {
    background-color: $paper;
    margin: 0;
    padding: 0;
    background: $paper;
    font-size: 14px;
    font-family:
        regular,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1;
    overflow: auto;
}

.route-side-menu {
    display: flex;
    flex-direction: column;
    padding: $spacing-l;
    border-right: 1px solid $divider;

    > :first-child {
        margin-bottom: 128px;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.flex {
    display: flex;
    flex: 1;
    overflow: auto;
}   

.route-admin,
.route-profile {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 16px;
    gap: 16px;
    align-items: flex-start;
    overflow: auto;
}

.side-menu-div {
    display: flex;
    overflow: auto;
}

