@import "./theme/Theme.scss";

* {
    padding: 0;
    margin: 0;
}

body, #root {
    background-color: $paper;
    margin: 0;
    padding: 0;
    background: rgba(243, 246, 249, 0.6);
    font-size: 14px;
    font-family:
        regular,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1;
    overflow: auto;
}

.margin-auto {
    margin: auto;
}

.route-side-menu {
    display: flex;
    flex-direction: column;
    padding: $spacing-l;
    border-right: 1px solid $divider;

    > :first-child {
        margin-bottom: 128px;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.flex {
    display: flex;
    flex: 1;
    overflow: auto;
}   

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-items: flex-start;
    overflow: auto;
}

.container-login {
    align-self: center;
    margin: auto;
}

.profile-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.side-menu-div {
    display: flex;
    overflow: auto;
}

.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.flex-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.center-content {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.bottom-content {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-m;
}

.text-size {
    font-size: 40px;
    text-align: center;
}

.a-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
}